
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

mat-nav-list {
  width: 100%;
  max-width: 500px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.menu-item:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

mat-icon {
  margin-right: 10px;
  font-size: 25px;
}
